---
interface Props { id: string; title: string; body: string; rating: number; }
const { id } = Astro.props;
const { title } = Astro.props;
const { body } = Astro.props;
const { rating } = Astro.props;
const avtiveClass = id === '1' ? 'show active' : '';
---

<div class={`js-tab-pane tab-pane fade ${avtiveClass}`} data-tab-pane-id=`${id}`>
  <h4 class="mb-1">{ title }</h4>
  <div class="fs-sm text-nowrap">
    {
      Array.from({ length: 5 }, (_, i) => i + 1).map((index) => {
        const starClass = rating >= index ? 'text-warning' : '';
        return <i class={`bx bxs-star ${starClass}`}></i>
      })
    }
  </div>
  <p class="mt-3 mb-0 fs-lg">{ body }</p>
</div>
