@media (min-width: 769px) {
  .customers .owl-wrapper {
    margin: auto;
  }
  .customers .owl-item:first-child {
    margin-left: 25%;
  }
}

.pull-right {
  display: none;
}

.box-simple h3 {
  text-transform: initial;
}

#contact .col-md-4 {
  width: 0;
}

#contact .col-md-8 {
  width: 100%;
}
