---
import Item from './Item.astro'
---

<Item title='レガシーシステムサポート' icon='digital.svg'>
  <p class="mb-2">レガシーシステムのリプレイスや保守を行い、お客様の大事なシステムを最適化します。</p>
  <ul class="list-unstyled">
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      お客様の事業環境を深く理解し、最新のテクノロジーを駆使して、レガシーシステムを柔軟で拡張性の高いモダンなシステムへとリプレイス。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      ドキュメント・仕様書が無い場合でも、システム調査を行い、当社で開発したシステム・アプリケーション同様に保守対応が可能。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      自動テストを導入し、既存のシステムの挙動を保証しながらリプレイスを行うことで品質を担保しリスクを最小化。
    </li>
  </ul>
</Item>
