---
import Item from './Item.astro'
---

<Item title='システム監視・運用保守' icon='analytics.svg'>
  <p class="mb-2">お客様のシステムを監視し、安定稼働を支援するサービスを提供しています</p>
  <ul class="list-unstyled">
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      最新のモニタリングツールと独自の運用ノウハウを駆使して、システムの異常を早期に検知し、迅速に対応。ダウンタイムを最小限に抑え、お客様のビジネスの継続性を確保。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      定期的なメンテナンスや、パフォーマンス分析に基づく運用改善提案により、システムの安定性と効率性を長期的に維持・向上。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      セキュリティ対策や障害対策など、システム運用に関する様々な課題にも柔軟に対応。
    </li>
  </ul>
</Item>
