---
import Item from './Item.astro'
---

<Item title='Webシステム受託開発' icon='cms.svg'>
  <p class="mb-2">お客様のビジネスの要望に合わせたWebシステムの受託開発サービスを提供しております。</p>
  <ul class="list-unstyled">
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      高度な技術力と豊富な開発経験を持つエンジニアチームが、要件定義から設計、開発、テスト、運用まで、システム開発のすべての工程を一貫してサポート。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      最新のテクノロジーを活用し、ユーザーフレンドリーで拡張性が高く品質の良いWebシステムを提供し、お客様の業務効率化とビジネス成長を支援。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      開発後のメンテナンスや機能拡張にも柔軟に対応し、長期的なパートナーとして、お客様のビジネスを力強くサポート。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      HP、LP、モバイルアプリ、Webアプリなどの開発やインフラ構築など幅広く対応。
    </li>
  </ul>
</Item>
