---
import Item from './Item.astro'
---

<Item title='ITコンサルティングサービス' icon='chart.svg'>
  <p class="mb-2">お客様のビジネス戦略に沿ったITソリューションを提供するITコンサルティングサービスを提供しています。</p>
  <ul class="list-unstyled">
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      お客様の業界や企業特性を深く理解し、現状の課題分析から最適なITシステムの設計・導入、運用まで総合的にサポート。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      変化の速いビジネス環境においても、柔軟かつ迅速に対応できるよう、お客様との緊密なコミュニケーションを重視。
    </li>
    <li class="d-flex align-items-center fs-sm mb-2">
      <i class="bx bx-check fs-xl text-primary me-2"></i>
      最新のテクノロジーを駆使し、お客様のビジネスプロセスの効率化、生産性向上、コスト削減を実現。
    </li>
  </ul>
</Item>
