---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" media="screen" href="/assets/css/theme.min.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DG3990XPBS"></script>
  <script type="module">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DG3990XPBS');
  </script>
</head>
