<header class="header navbar navbar-expand-lg navbar-dark position-absolute navbar-sticky" id="js-navbar-menu">
  <div class="container px-3">
    <a href="/" class="navbar-brand pe-3">
      <img src="assets/img/logo.png" height="47" width="155" alt="ロゴ">
    </a>
    <div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
      <div class="offcanvas-header border-bottom border-light">
        <h5 class="offcanvas-title text-white">メニュー</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#services" class="nav-link">サービス内容</a>
          </li>
          <li class="nav-item">
            <a href="#testimonials" class="nav-link">お客様の声</a>
          </li>
          <li class="nav-item">
            <a href="#company" class="nav-link">企業情報</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>

<style>
  .navbar-expand-lg .navbar-nav {
    justify-content: flex-end;
  }

  .navbar-brand {
    img {
      max-height: 47px;
    }
  }
</style>
