<section class="position-relative py-4" id="contact">
  <div class="container position-relative zindex-5 py-2 py-md-4 py-lg-5">
    <div class="row justify-content-center text-center pt-xl-2 pb-4 mb-1 mb-lg-3">
      <div class="col-xl-6 col-lg-7 col-md-8 col-sm-11">
        <h2 class="mb-4 h2">お問い合わせ</h2>
        <p class="mb-2">
          お問い合わせは以下の内容を入力の上、送信してください。<br>
          2営業日以内に担当の者より連絡させて頂きます。
        </p>
        <p class="text-muted mb-0">
          ※ 送信は「<a href="/privacy-policy" target="_blank" rel="noopener">プライバシーポリシー</a>」に同意した方のみとします。
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <form class="row needs-validation" id="contact-form" data-form-url=`${import.meta.env.CONTACT_FORM_URL}` novalidate>
          <div class="col-sm-6 mb-4">
            {/* HACK: Create label and input component */}
            <label for="name" class="form-label">お名前</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="例: 山田 太郎" required>
            <div class="invalid-feedback">入力が必須となります。</div>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="company" class="form-label">会社名</label>
            <input type="text" id="company" name="company" class="form-control" placeholder="例: 株式会社CHIYUU" required>
            <div class="invalid-feedback">入力が必須となります。</div>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="email" class="form-label">メールアドレス</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="例: mail@example.com" required>
            <div class="invalid-feedback">入力が必須となります。</div>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="tel" class="form-label">
              電話番号
              <small class="text-muted">(任意項目)</small>
            </label>
            <input type="text" id="tel" name="tel" class="form-control" placeholder="例: 03-1234-5678">
            <div class="invalid-feedback">入力が必須となります。</div>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="schedule" class="form-label">
              納期の目安
              <small class="text-muted">(任意項目)</small>
            </label>
            <select id="schedule" name="schedule" class="form-select">
              <option value="" disabled selected>選択してください</option>
              <option value="1ヵ月以内">1ヵ月以内</option>
              <option value="3ヵ月以内">3ヵ月以内</option>
              <option value="6ヵ月以内">6ヵ月以内</option>
              <option value="1年以内">1年以内</option>
              <option value="1年以上先">1年以上先</option>
              <option value="現時点では未定">現時点では未定</option>
            </select>
            <div class="invalid-feedback">入力が必須となります。</div>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="budget" class="form-label">
              ご予算の目安
              <small class="text-muted">(任意項目)</small>
            </label>
            <input type="text" id="budget" name="budget" class="form-control" placeholder="例: 200~300万円">
          </div>
          <div class="col-12 mb-4">
            <label for="content" class="form-label">お問い合わせ内容</label>
            <textarea id="content" name="content" class="form-control" rows="5" placeholder="こちらにお問い合わせ内容をご記入ください。" required></textarea>
            <div class="invalid-feedback">入力が必須となります。</div>
          </div>
          <div class="col-12 text-center pt-2 pt-md-3 pt-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">送信する</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="position-absolute end-0 bottom-0 text-primary">
    <svg width="469" height="343" viewBox="0 0 469 343" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M273.631 680.872C442.436 768.853 639.315 708.216 717.593 558.212C795.871 408.208 732.941 212.157 564.137 124.176C395.333 36.195 198.453 96.8326 120.175 246.836C41.8972 396.84 104.827 592.891 273.631 680.872ZM236.335 752.344C440.804 858.914 688.289 788.686 789.109 595.486C889.928 402.286 805.903 159.274 601.433 52.7043C396.964 -53.8654 149.479 16.3623 48.6595 209.562C-52.1598 402.762 31.8652 645.774 236.335 752.344Z" fill="currentColor"/><path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M298.401 633.404C434.98 704.59 598.31 656.971 664.332 530.451C730.355 403.932 675.946 242.827 539.367 171.642C402.787 100.457 239.458 148.076 173.435 274.595C107.413 401.114 161.822 562.219 298.401 633.404ZM288.455 652.464C434.545 728.606 611.369 678.429 683.403 540.391C755.437 402.353 695.402 228.725 549.312 152.583C403.222 76.4404 226.398 126.617 154.365 264.655C82.331 402.693 142.365 576.321 288.455 652.464Z" fill="currentColor"/></svg>
  </div>
</section>

<script type="module">
  document.getElementById('contact-form').addEventListener('submit', async (e) => {
    e.preventDefault();

    const form = event.target;

    if (!form.checkValidity()) {
      e.stopPropagation();
      return;
    }

    const formData = new FormData(form);

    try {
      const response = await fetch(form.dataset.formUrl, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(Object.fromEntries(formData.entries()))
      });
      if (response.ok) {
        form.reset();
        form.classList.remove('was-validated');
        alert('お問い合わせを受け付けました。\n連絡先に2営業日以内に担当者よりご連絡させて頂きます。');
      } else {
        throw new Error('Request failed');
      }
    } catch(error) {
      console.error('Error:', error);
      alert('お問い合わせの送信に失敗しました。\n' +
            '時間を置いて再度お試し頂くか、メールにて直接お問い合わせください。\n' +
            'メールアドレス: contact@chiyuu.co.jp')
    };
  });
