---
import PageLoader from '../components/PageLoader.astro';
import Navbar from '../components/Navbar.astro';
import ScrollTop from '../components/ScrollTop.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description = "宮城県仙台市で...株式会社CHIYUU" } = Astro.props;
---

<!doctype html>
<html lang="ja" data-bs-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css">
		<link rel="stylesheet" media="screen" href="/assets/css/theme.min.css">
	</head>
	<body>
		<PageLoader />
		<main class="page-wrapper">
			<Navbar />
			<slot />
		</main>
		<Footer />
		<ScrollTop />
    <script type="module" src="/assets/js/theme.min.js"></script>
	</body>
</html>
